@model FootballApplicationForm.Models.PlayerInfo

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Register</title>
</head>
<body>
	<div>
		Welcome to registration!<br />
		Fill all the gaps to successfully register!
		@using (Html.BeginForm())
		{
			<p>Name: @Html.TextBoxFor(x => x.Name) </p>
			<p>Surname: @Html.TextBoxFor(x => x.Surname) </p>
			<p>Telephone: @Html.TextBoxFor(x => x.Phone) </p>
			<p>Email: @Html.TextBoxFor(x => x.Email) </p>
			<p>Age: @Html.TextBoxFor(x => x.Age) </p>
			<p>
				Gender:
				@Html.DropDownListFor(x => x.Gender, new[] {
				new SelectListItem() {Text = "Male", Value = "Male"},
				new SelectListItem() {Text = "Female", Value = "Female"}
				}, "Select one")
			</p>
			<p>
				Are you currently in any team?
				@Html.DropDownListFor(x => x.CurrentlyPlaying, new[] {
				new SelectListItem() {Text = "Yes", Value = bool.TrueString},
				new SelectListItem() {Text = "No", Value = bool.FalseString}
				}, "Select one")
			</p>
			<input type="submit" value="Confirm" />
		}
	</div>
</body>
</html>
